* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: sans-serif;
  background-color: #f9f7f4;
}

.container {
  display: flex;
  height: 100vh;
}

/* Sidebar layout */
.sidebar {
  background-color: #0e3a5d;
  width: 250px;
  color: white;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 70px;
}

/* Logo */
.logo {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding: 10px 10px;
}


.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Navigation area */
.nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.nav a,
.sign-out a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  transition: background 0.2s;
}

.nav a:hover,
.sign-out a:hover {
  background-color: #12476f;
}

.nav .icon,
.sign-out .icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/* Text beside icons */
.nav span,
.sign-out span {
  margin-left: 10px;
  white-space: nowrap;
}

/* Collapsed sidebar behavior */
.sidebar.collapsed span {
  display: none;
}

/* Sign-out pushed to bottom */
.sign-out {
  margin-top: auto;
}

/* Main content */
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
  background-color: #fff;
}

.header-icons .icon {
  margin-left: 5px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  ;
}

/* Content section */
.content {
  flex-grow: 1;
  padding: 20px;
}
